#fname,#lname,#email,#pass,#emailin,#passin,#signin,#signup{
    margin: 5px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}
/* Modal Content */
.modal-content {
  position: relative;
  border-radius: 15px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.5s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  margin: 10px 30px 5px -30px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.popup-success{
  color: white;
  background-color: #5cb85c;
}
.popup-error{
  color: white;
  background-color: #ff2a2a;
}
.commentMessage{
  border-radius: 15px;
  padding: 50px 0px;
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent , .textcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

/* Style the buttons inside the tab */
.tablink {
  background-color: #555;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
.logout{
  color: #ddd !important;
}
.logout:hover{
  color:black !important;
}
#show_all{
  display: none;
}
#show_all a{
  display: inline-block !important;
}
#show_all p,h4{
  text-align: center !important;
}
.admin_m{
  background-color: rgb(201, 201, 201) ;
  text-align: center !important;
  float: left;
  margin-left: 50px !important;
}
.user_m ,.admin_m{
  margin: 20px 0px 20px;
  padding: 20px;
  -webkit-user-modify: read-write-plaintext-only;
  width: 60%;
  border-radius: 15px;
}
.user_m{ 
  margin-right: 50px !important;
  background-color: white ;
  text-align: center !important;
  float: right;
}
.tiket_end{
  display: table !important;
  margin: auto !important;
}
.notice-success{
  text-align: center;
  background-color: #00ff78;
  padding: 20px;
}
.notice-error{
  text-align: center;
  background-color: #fc4242;
  padding: 20px;
}
.trash a{
  color:#ff2a2a !important;
}
.ADD a{
  color:#3cff2a !important;
}