/* margin from top in wallet , users and tikets */
table.alternates{
  margin-top: 15px;
}
/* background color in table even */
tbody tr.alternate:nth-child(even) {
  background-color: #adadad;
}
.bitwin_line{
  margin: 0 10px;
  color: #000000;
}